body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h3 {
    background-color: rgb(78, 220, 255);
    width: 400px;
    font-style: italic;
    font-weight: 300;
    color: white;
    padding: 1px;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }

input[type="number"] {
    width: 200px;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
}

button {
    padding: 8px 16px;
    background-color: #e9d51e;
    color: #929292;
    border: none;
    cursor: pointer;
}